/**************************************************************************/
/* Layouts LESS */
/**************************************************************************/

/***********************/
/* NavBar */
/***********************/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #fff;
}

.banner {
	min-height: 0px;
}

.navbar-nav > li > a {
	padding-top: 16px;
}

.navbar {
	height: 58px;
}


.navbar-toggle {
	margin-top: 12px;
}

.footer-navbar {
	float: left;
}

.navbar-right {
	float: right !important;
	list-style: none;
}

.bottom-nav {
	height: 100px;
}

.nav-icon {
	float: left;
}

.navbar-fixed-bottom {
	border-top: 1px #e7e7e7 solid;
	opacity: 0.8;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

/***********************/
/* Above the Fold */
/***********************/

#above-the-fold {
	text-align: center;
	background: #fff;
	padding-top: 40px;

	h1 {
		margin: 0 0 24px;
		font-size: 50px;
		color: #fff;
	}
	
	h3, h4 {
		color: #fff;
	}

	div {
		text-align: center;
	}
	
	.jack-cols {
		padding-top: 10px;
	}
	
	img {
		height: 120px;
	}

	@media (min-width: @screen-md-min) {
		.jack-cols {
			padding-top: 62px;
		}

		h1 {
			font-size: 72px;
			text-align: center;
			margin-top: 12px;
		}		

		figure {
			margin: 0;
		}
			
		h3 {
			padding: 0;
			margin: 0;
			margin-bottom: 28px;
			color: #fff;
			font-family: 'Avenir LT', helvetica, serif;
		}
		
		h4 {
			color: #fff;
		}
			
		p {
			margin-bottom: 10px;
		}		
	}
	
	@media (min-width: @screen-sm-min) {
		img {
			height: auto;
		}
	}
}

.dark {
	background-color: @gray-darker
}

.badges {
	padding: 0px 20px 0px 20px;
	width: auto !important;
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

/***********************/
/* Body - Home */
/***********************/

body {
	padding-bottom: 90px;
}

.big-list {
	font-size: 24px;
	font-weight: 300;
	color: #858585;
	
	img {
		height: auto;
		max-width: 38px;
	}
	
	.icons {
		padding-right: 18px;
		display: inline !important;
		margin-top: -4px;
	}
}

.home ul {
	list-style: none;
}

ul {
	list-style: inherit;
}

.body-bottom {
	margin-bottom: 25px;
}

.jack-things {
	margin-top: 50px;
}

.highlight {
	background-color: #f7f7f7;
	padding: 50px 0 50px;
}

#bottom-cta {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		margin-bottom: 25px;
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 100px;

		h1 {
			font-size: 56px;
			margin-bottom: 50px;
		}
	}
}

.home {
	p	{
	padding: 28px 0 28px;
	}
	.art {
		position: relative;
		top: 50%;
		width: auto;
	}
	@media (min-width: @screen-sm-min) {
		.art {
			position: relative;
			top: 50%;
			width: auto;
		}
	}
}

.motion {
	padding-left: 4px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
	}
}

.body-bottom section {
	height: 400px;
	
	li {
		padding: 20px;
		
		a {
			color: @dark-color;
		}
	}
}


/***********************/
/* Footer */
/***********************/

header {
	background-color: #fff;
}

.footer {
	min-height: 0px;

	@media (min-width: @screen-sm-min) {
		min-height: 78px;
	}
	
	ul {
		position: relative;
		top: 50%;
		transform: translateY(0%);
		
		@media (min-width: @screen-sm-min) {
			position: relative;
			top: 50%;
			transform: translateY(24%);	}
	}
	
	img {
		margin-top: -12px;
	}
}

#menu-primary-navigation {
	margin: 14px 0 14px;
}



/***********************/
/* Sidebar */
/***********************/


aside {
	margin-top: 30px;
	padding: 0px;
	border-radius: 6px;
}

#sidebar-social ul {
    margin: 0 0 25px;
    padding: 18px 0;
}

.fa-facebook {
	padding: 0 5px 0 5px;
}

.fa-youtube {
	padding: 0 1px 0 1px;
}

.categories-2 {
	width: 300px;
}


/***********************/
/* Study CTA */
/***********************/

.page-cta {
  border-radius: 6px;
  background-color: rgb( 255, 212, 0 );
  width: 100%;
  height: auto;
  padding-bottom: 18px;
  
  h3 {
	  text-align: center;
	  padding-top: 18px;
	  padding-bottom: 18px;
  }
  
  button {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
  }
}

.copyright {
	text-indent: 14px;
	color: #bbb;
}

/***********************/
/* Modal */
/***********************/

.optin-h4 {
	text-align: center;
	padding: 12px;
	margin-top: -8px;
}

.modal-video {
	padding-bottom: 18px;
}

.form-inline {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.modal-content {
	h3 {
		letter-spacing: 0px;
		margin-top: 56px;
	}
}

.email {
	margin-top: 24px;
}

/***********************/
/* Google Maps */
/***********************/

.google-maps {
    position: relative;
    padding-bottom: 33%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 20px;
    border: none;
}

/***********************/
/* Billboard */
/***********************/

.b1, b2, b4, b5, b6 {
	width:1408px;
    height: 384px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 72px;
		font-weight: bold;
		}
	.post-content {
		color: #fff;
		font-size: 48px;
	}
}

.b3 {
	width:736px;
    height: 352px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 30px;
		font-weight: bold;
		}
	.post-content {
		color: #fff;
		font-size: 28px;
	}
	.post-image {
		padding: 2px 4px 24px 33px;
	}
	.post-body {
		margin-top: 32px;
	}
}

.b7 {
	width:864px;
    height: 736px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 72px;
		font-weight: bold;
		text-align: center;
		}
	.post-content {
		color: #fff;
		font-size: 48px;
		text-align: center;
	}
	.post-body {
		margin-left: auto;
		margin-right: auto;
		display: block;
		ul {
			-webkit-padding-start: 0;
		}
	}
	.post-image {
		margin: 0 auto;
		display: block;
		img {
			margin: 0 auto;
			display: block;
		}
	}
}

.b8 {
	width: 1024px;
    height: 864px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 78px;
		font-weight: bold;
		text-align: center;
		}
	.post-content {
		color: #fff;
		font-size: 56px;
		text-align: center;
	}
	.post-body {
		margin-left: auto;
		margin-right: auto;
		display: block;
		ul {
			-webkit-padding-start: 0;
		}
	}
	.post-image {
		margin: 0 auto;
		display: block;
		img {
			margin: 0 auto;
			display: block;
		}
	}
}

.b9, b11 {
	width:528px;
    height: 176px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 24px;
		font-weight: bold;
		}
	.post-content {
		color: #fff;
		font-size: 18px;
	}
	.post-image {
		padding: 4px 4px 4px 18px;
	}
}

.b10 {
	width:1620px;
    height: 468px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 88px;
		font-weight: bold;
		}
	.post-content {
		color: #fff;
		font-size: 68px;
	}
	.post-image {
		padding: 10px 34px 24px 33px;
	}	
}

.b12 {
	width:1434px;
    height: 435px;
    margin:0 auto;
    .post-title {
		color: #fff;
		font-size: 76px;
		font-weight: bold;
		}
	.post-content {
		color: #fff;
		font-size: 58px;
	}
	.post-image {
		padding: 10px 34px 24px 33px;
	}
}

.widget {
    display: inline-block; /* canvas doesn't work without this line- weird */
}

.billboard-bg {
	background-color: #000;
	padding: 24px;
	background-image: url(http://masonlawlor.com//classificadosoutdoor/wp-content/themes/ClassificadosOnline/assets/img/billboard-logo.png);
	background-repeat: no-repeat;
	background-position:right bottom;
}

.billboard-bg-b9 {
	background-color: #000;
	padding: 24px;
	background-image: url(http://masonlawlor.com//classificadosoutdoor/wp-content/themes/ClassificadosOnline/assets/img/billboard-logo-b9.png);
	background-repeat: no-repeat;
	background-position:right bottom;
}

.site-container {

}

.inline {
	display: inline-block;
}

.post-body {
	vertical-align: top;
	ul {
	list-style: none;
	}
}

.post-image {
	padding: 16px 34px 24px 33px;
	
	img {
		vertical-align: bottom;
	}
}
